In [1]:
import requests
import bs4
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser
import os
from webdriver_manager.chrome import ChromeDriverManager
import time

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://www.indeed.com/jobs?q=data%20analyst&l=California&start=0'
browser.visit(url)
time.sleep(1)  
html = browser.html
soup = bs(html, "html.parser")

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [C:\Users\SC\.wdm\drivers\chromedriver\win32\92.0.4515.107\chromedriver.exe] found in cache

In [10]:
for div in soup.find_all(name='div', attrs={'class':'job_seen_beacon'}):
    #specifying row num for index of job posting in dataframe
    #num = (len(joblist_df) + 1) 
    #creating an empty list to hold the data for each posting
    jobs = []
    companies = []
    locations = []
    summaries = []    

    #grabbing job title
    for td in soup.find_all(name='td', attrs={'class':'resultContent'}):
        for div in td.find_all(name='div', attrs={'class':'heading4 color-text-primary singleLineTitle tapItem-gutter'}):
            for span in div.find_all(name='span'):
                if span.text.strip() != 'new':
                    jobs.append(span.text.strip())  
    
    #grabbing company name
    for td in soup.find_all(name='td', attrs={'class':'resultContent'}):
        for div in td.find_all(name='div', attrs={'class':'heading6 company_location tapItem-gutter'}):
            for span in div.find_all(name='span', attrs={'class':'companyName'}):
                companies.append(span.text.strip())      
    
    
    #grabbing location
    for td in soup.find_all(name='td', attrs={'class':'resultContent'}):
        for div in td.find_all(name='div', attrs={'class':'heading6 company_location tapItem-gutter'}):
            for div in div.find_all(name='div'):
                locations.append(div.text.strip())   
      
    #grabbing summary text
    divs = soup.findAll('div', attrs={'class': 'job-snippet'})
    for div in divs:
        summaries.append(div.text.strip())
           
    #appending list of job post info to dataframe at index num
    #joblist_df.loc[num] = job_post

In [11]:
jobs

['Data Analyst',
 'Data Analyst I',
 'Data Analyst',
 'TikTok LIVE Data Analyst',
 'Jr. Data Analyst',
 'DreamWorks Technology - Data Analyst',
 'Associate Analyst, Data Analytics',
 'Senior Data Analyst',
 'Data Analyst - Growth/UCenter',
 'Data Visualization Analyst',
 'Associate B-52 Flight Test Engineer – Data Analyst',
 'Business Intelligence Analyst 4',
 'Research Data Analyst',
 'Staff Analyst, Production Data & Analytics',
 'Data Analyst']

In [12]:
companies

['Tetra Tech Inc.',
 'Computershare',
 'OBMedia',
 'TikTok',
 'Deckers Brands',
 'NBCUniversal',
 'Edwards Lifesciences',
 'FocusKPI Inc.',
 'TikTok',
 'California State University',
 'BOEING',
 'Adobe',
 'Stanford University',
 'Walt Disney Animation Studios',
 'Luxoft']

In [13]:
locations

['Chico, CA',
 'United States•Remote',
 'Los Angeles, CA•Remote',
 'Los Angeles, CA',
 'Goleta, CA 93117•Remote',
 'Glendale, CA',
 'Irvine, CA',
 'San Francisco Bay Area, CA',
 'Mountain View, CA',
 'San Jose, CA',
 'Edwards AFB, CA',
 'San Jose, CA',
 'Stanford, CA',
 'Burbank, CA',
 'Los Angeles, CA']

In [14]:
summaries

['The successful candidate will have extraordinary attention to minute detail and be responsible for executing and overseeing daily administrative, data entry,…',
 '1 year of experience in data analysis or the application of data analytics, preferably within the mortgage servicing industry.\nPaid time away from work.',
 'You will have contributed to ongoing company efforts to manage our massive, often noisy, and continuously changing, data streams.',
 'Assist in creating data best practices and documentation to help streamline data operations.\nAdvanced proficiency in data manipulation including SQL, python or…',
 'Analyze data to unearth insights and develop data visualizations to facilitate decision making.\nCreate data sources in Tableau to support reporting for internal…',
 'Present data analysis findings and/or translate data into an understandable document or dashboard.\nStrong SQL with experience in querying large, complex data…',
 'Good knowledge and understanding of Edwards policies, procedures and guidelines relevant to data analytics.\nBuild routine quantitative models and/or tools with…',
 'The ideal candidate is an intelligent, sharp, detail-oriented, and highly quantitative individual who loves working with and analyzing data.',
 '2+ years of experience in data analyzing, visualization and reporting.\nSkilled in data manipulation with SQL, python or other programming-languages/tools.',
 'Experience with writing scripts to analyze data and perform data queries, creating reports with quantitative modeling, detail-oriented approach to data…',
 'This role will perform data analysis of flight test data.\nWork experience with 1553 data products.\nParticipates in evaluation of test performance data.',
 'Leverage global reporting, analysis, and business modeling to translate data into insights to proactively drive action.',
 'Determine additional data collection and reporting requirements.\nUse system reports and analyses to identify potentially problematic data, make corrections, and…',
 'The Studio Analytics team is responsible for developing a strategy and vision for cross-functional and complex data analysis projects.',
 "Contribute to data models and designs for the data warehouse.\nOur Data Strategy and Operations team is focused on implementing and evolving client's investment…"]

In [17]:
job_list_df = pd.DataFrame(list(zip(jobs, companies, locations, summaries)),
               columns = ['job_title', 'company_name', 'location', 'summary'])
job_list_df

,job_title,company_name,location,summary
0,Data Analyst,Tetra Tech Inc.,"Chico, CA",The successful candidate will have extraordina...
1,Data Analyst I,Computershare,United States•Remote,1 year of experience in data analysis or the a...
2,Data Analyst,OBMedia,"Los Angeles, CA•Remote",You will have contributed to ongoing company e...
3,TikTok LIVE Data Analyst,TikTok,"Los Angeles, CA",Assist in creating data best practices and doc...
4,Jr. Data Analyst,Deckers Brands,"Goleta, CA 93117•Remote",Analyze data to unearth insights and develop d...
5,DreamWorks Technology - Data Analyst,NBCUniversal,"Glendale, CA",Present data analysis findings and/or translat...
6,"Associate Analyst, Data Analytics",Edwards Lifesciences,"Irvine, CA",Good knowledge and understanding of Edwards po...
7,Senior Data Analyst,FocusKPI Inc.,"San Francisco Bay Area, CA","The ideal candidate is an intelligent, sharp, ..."
8,Data Analyst - Growth/UCenter,TikTok,"Mountain View, CA","2+ years of experience in data analyzing, visu..."
9,Data Visualization Analyst,California State University,"San Jose, CA",Experience with writing scripts to analyze dat...
10,Associate B-52 Flight Test Engineer – Data Ana...,BOEING,"Edwards AFB, CA",This role will perform data analysis of flight...
11,Business Intelligence Analyst 4,Adobe,"San Jose, CA","Leverage global reporting, analysis, and busin..."
12,Research Data Analyst,Stanford University,"Stanford, CA",Determine additional data collection and repor...
13,"Staff Analyst, Production Data & Analytics",Walt Disney Animation Studios,"Burbank, CA",The Studio Analytics team is responsible for d...
14,Data Analyst,Luxoft,"Los Angeles, CA",Contribute to data models and designs for the ...

In [19]:
job_list_df.to_csv('job_list_single.csv', index=False)